*{
    overflow-y: hidden;
}
body{
    background-color: whitesmoke;
}
.layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}

.left{
    background-color: lightgrey;
    width: 30%;
    max-height: 360px;
    border-radius: 5px;
    border: 2px solid #323232;
    box-shadow: 4px 4px #323232;
    padding: 20px;
}

.left, .right{
    margin-top: 60px;
    margin: 10px;
}

.form {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    padding: 20px;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    max-width: 300px;
  }

.formgame{
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    padding: 20px;
    background: lightgrey;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    width: 600px;
}

  .title {
    color: #323232;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
  }
  
  .title span {
    color: #555555;
    font-weight: 600;
    font-size: 17px;
  }
  
  .input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    max-width: 250px;
    min-width: 250px;
    max-height: 240px;
    min-height: 45px;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }
  
  .button-confirm {
    margin: 50px auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #323232;
    background-color: #fff;
    box-shadow: 4px 4px #323232;
    font-size: 17px;
    font-weight: 600;
    color: #323232;
    cursor: pointer;
  }
  
  .kiri, .kanan{
    width: 45%;
    padding-bottom: 30px;
  }