.title-table{
  margin-top: 70px;
}

.button-table {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .button-table:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .button-table:hover {
  color: #fff;
 }
 
 .button-table:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .button-table:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .button-table:active:before {
  background: #3a0ca3;
  transition: background 0s;
 }

.button-place{
  width: 370px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
 }

 .button-title-table{
  width: 370px;
  text-align: center;
 }

.button-link{
  text-decoration: none;
 }

 table {
  width: 100%;
  table-layout: auto;
}
table td, table th {
  width: auto;
}

table, th, td {
  border: 1px solid;
}

 .div-table{
  padding-left: 30px;
  padding-right: 30px;
 }

#historyTable, #productTable, #productGame, #productTop, #historyGame, #historyTop, #gametopuptable{
  display: none;
 }